.widget-container {
  width: 200px;
  height: 180px;
}

.widget-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-upper-section {
  height: 120px;
  background-color: var(--widget-blue);
  padding: 15px;
}

.widget-lower-section {
  border-top: 1px solid var(--black);
  height: 60px;
  padding: 15px;
}

.city-label {
  font-size: 25px;
}

.widget-top {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.widget-top-left {
  display: flex;
  background: transparent;
  flex-direction: row;
}

.widget-top-right {
  display: flex;
  background: transparent;
  flex-direction: row;
}

.widget-middle {
  background: transparent;
}

.widget-middle-label {
  background: transparent;
}

.icon-button {
  border: none;
}
