@import '../../common/css-vars.css';

.home-section {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-upper-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-lower-section {
  display: flex;
  justify-content: space-around;
  height: 70%;
  flex-wrap: wrap;
}
